<div class="my-3 mx-3">
    <a routerLink="../" mat-icon-button>
      <mat-icon>keyboard_arrow_left</mat-icon>
      Back
    </a>
  </div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-8 col-lg-6 col-md-10 col-sm-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Create a new character</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-vertical-stepper [linear]="true" #stepper>
                <mat-step [stepControl]="formGroup1">
                  <form class="d-flex flex-column mr-5" [formGroup]="formGroup1">
                    <ng-template matStepLabel>Name your character</ng-template>
                    <mat-form-field [hideRequiredMarker]="true">
                      <input matInput placeholder="character name" formControlName="charName" required>
                    </mat-form-field>
                    <br>
                    <button class="w-25" mat-button matStepperNext>Next</button>
                  </form>
                </mat-step>
                <mat-step [stepControl]="formGroup2">
                    <form class="d-flex flex-column justify-content-start" [formGroup]="formGroup2">
                      <ng-template matStepLabel>Give your character stats</ng-template>
                      <mat-form-field [hideRequiredMarker]="true" *ngFor="let attr of baseAttributes | async">
                        <span matPrefix><mat-icon>{{attr.iconSelector}}</mat-icon> &nbsp;</span>
                        <input type="number" matInput [placeholder]="attr.name" [formControlName]="attr.name" required>
                      </mat-form-field>
                      <br>
                      <button mat-button matStepperNext>Next</button>
                    </form>
                  </mat-step>
              </mat-vertical-stepper>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
