<div class="page">
  <mat-toolbar class="mat-elevation-z2" color="primary">
    <span>{{title}}</span>
    <span class="fill-flex"></span>
    <span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </span>
  </mat-toolbar>

  <router-outlet>

  </router-outlet>
</div>
